@import "obnulenie.scss";
@import "fonts.scss";

.title {
	font-family: 'YandexSansTextRegular-900';
    font-size: 64px;
	color: #21201F;
	line-height: 70px;
}
body {
	min-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
	background: #FFDE40;
	padding-top: 77px;
	@media (max-width: 641px) {
		padding-top: 35px;
	}
}
.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 20px;
}


.header {
	width: 100%;
	background: #FFDE40;
	position: fixed;
	z-index: 1000;
	@media (max-width: 1055px) {
		position: unset;
	}
	.headerContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		max-width: 1140px;
		padding: 15px 17px;
		margin: 0 auto;
		.headerLogo {
			width: 158px;
			@media (max-width: 571px) {
				width: 120px;
			}
			@media (max-width: 350px) {
				width: 90px;
			}
		}
		.headerMenu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			li {
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: #21201f !important;
					font-family: 'YandexSansTextRegular-600';
					font-size: 16px;
					line-height: 30px;
				}
			}
		}
		.headerBtnDownload {
			padding: 0 50px 2px 50px;
			background: #21201F;
			line-height: 45px;
			font-family: 'YandexSansTextRegular-600';
			color: #ffffff !important;
			font-size: 20px;
			border-radius: 18px;
			transition: 200ms;
			&:hover {
				transition: 200ms;
				background: #000000;
			}
			@media (max-width: 571px) {
				font-size: 14px;
				padding: 8px 30px;
				line-height: normal;
			}
		}
		@media (max-width: 1055px) {
			.headerMenu {
				display: none;
			}
		}
	}
}
.section1 {
	padding: 180px 17px 32px;
	@media (max-width: 1050px) {
		padding: 0 0 32px;
	}
	.section1_title {
		width: 100%;
		height: 286px;
		background-image: url('https://avatars.mds.yandex.net/get-lpc/1527204/17f17107-06f4-4695-b5b3-340eb70251dc/orig');
		background-repeat: no-repeat;
		background-size: auto;
		background-position: left top;
		position: relative;
		font-size: 0;
		@media (max-width: 930px) {
			margin-bottom: 100px;
			background-size: clamp(18.438rem, 5.815rem + 63.11vw, 42.5rem);
		}
		@media (max-width: 641px) {
			margin-bottom: 100px;
		}
		&::after {
			content: "";
			width: 466px;
			height: 568px;
			display: block;
			background-image: url('https://avatars.mds.yandex.net/get-lpc/1220100/e61505da-47e3-4423-9e19-8473aeda1c6c/orig');
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: top left;
			position: absolute;
			top: -74px;
			right: 0;
			@media (max-width: 930px) {
				top: 0;
				width: 400px;
			}
			@media (max-width: 641px) {
				top: 7rem;
				left: 50%;
				right: 50%;
				transform: translate(-50%);
				width: 300px;
			}
			@media (max-width: 571px) {
				width: 250px;
			}
			@media (max-width: 499px) {
				width: 200px;
			}
		}
	}
	.section1_desc {
		p {
			padding-top: 119px;
			max-width: 530px;
			margin: 0;
			font-family: 'YandexSansTextRegular-900';
			font-size: 36px;
			line-height: 39.6px;
			text-align: left;
			color: #21201F;
			margin-bottom: 32px;
			text-wrap: balance;
			@media (max-width: 571px) {
				width: 100%;
				font-size: 28px;
				line-height: normal;
				padding-top: 20px;
			}
		}
		a {
			font-family: 'YandexSansTextRegular-600';
			font-size: 24px;
			line-height: 80px;
			background: #21201F;
			color: #ffffff !important;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
			max-width: 380px;
			border-radius: 25px;
			transition: 200ms;
			&:hover {
				transition: 200ms;
				background: #000000;
			}
			@media (max-width: 571px) {
				font-size: 18px;
				line-height: normal;
				padding: 15px 0;
			}
			
		}
	}
}
.section2 {
	padding: 70px 0;
	.section2_title {
		margin-bottom: 48px;
		position: relative;
		max-width: 797px;
		@media (max-width: 641px) {
			font-size: 32px;
			line-height: normal;
			margin-bottom: 28px;
		}
		&::before {
			content: "";
			width: 115px;
			height: 76px;
			display: block;
			background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/77659caa-4ace-4811-b51d-8a4c84ecec6d/orig);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: top left;
			position: absolute;
			right: 0;
			top: -51px;
			@media (max-width: 641px) {
				width: 69px;
				height: 71px;
			}
		}
	}
	.section2_menu {
		display: flex;
		align-items: center;
		max-width: 700px;
		justify-content: space-between;
		@media (max-width: 721px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;
		}
		@media (max-width: 375px) {
			grid-template-columns: 1fr;
			padding: 0;
		}
		li {
			margin-right: 10px;
			@media (max-width: 721px) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #21201F !important;
				background: transparent;
				border: 2px dashed #21201F;
				border-radius: 16px;
				line-height: 42px;
				display: block;
				padding: 0 32px;
				font-family: 'YandexSansTextRegular-600';
				text-align: center;
				font-size: 20px;
				white-space: nowrap;
				transition: 100ms;
				&:hover {
					transition: 100ms;
					border: 2px dashed #000000;
					color: #000000;
				}
				@media (max-width: 641px) {
					line-height: normal;
					font-size: 16px;
					padding: 5px 22px;
				}
			}
		}
	}
}
.section3 {
	margin-top: 100px;
	margin-bottom: 90px;
	@media (max-width: 721px) {
		margin-top: 20px;
	}
	.section3_title {
		margin-bottom: 100px;
		@media (max-width: 721px) {
			font-size: 34px;
			line-height: normal;
			margin-bottom: 40px;
		}
	}
	.section3_infContainer {
		display: flex;
		align-items: start;
		justify-content: space-between;
		@media (max-width: 721px) {
			flex-direction: column;
			div:nth-child(1) {
				order: 2;
				margin: 0;
				margin-top: 30px;
			}
		}
		.section3_stepsInf {
			.section3_stepsInf_step {
				padding-bottom: 96px;
				max-width: 430px;
				p {
					color: #21201F;
					font-family: 'YandexSansTextRegular-900';
					line-height: 39px;
					font-size: 36px;
					margin-top: 40px;
					@media (max-width: 721px) {
						line-height: none;
						font-size: 28px;
						text-align: left;
						margin-top: 20px;
					}
				}
				@media (max-width: 721px) {
					img {
						width: 280px;
					}
					.oneImg {
						width: auto;
						height: 86.63px;
					}
					padding-bottom: 50px;
				}
				&:last-child {
					@media (max-width: 424px) {
						p {
							width: 230px;
						}
					}
					position: relative;
					&::after {
						content: "";
						display: block;
						width: 345px;
						height: 357px;
						background-image: url('https://avatars.mds.yandex.net/get-lpc/1364677/218f6fb2-1e57-4039-8eac-f0122a8e929f/orig');
						background-repeat: no-repeat;
						background-size: 100% auto;
						background-position: left top;
						position: absolute;
						left: 389px;
						top: 56px;
						@media (max-width: 721px) {
							display: none;
						}
					}
					&::before {
						content: '';
						display: none;
						width: 218px;
    					height: 319px;
						background-image: url("https://avatars.mds.yandex.net/get-lpc/1520633/b7be239e-d2be-43be-b481-59368d488d32/orig");
						background-repeat: no-repeat;
						background-size: 100% auto;
						background-position: left top;
						position: absolute;
						left: 53px;
    					top: 116px;
						@media (max-width: 424px) {
							display: block;
						}
					}
				}
			}
		}
		.section3_videoPhone {
			width: 362px;
			@media (max-width: 426px) {
				width: 100%;
			}
		}
	}
}
.section4 {
	@media (max-width: 424px) {
		margin-top: 180px;
	}
	.section4_title {
		color: #ffffff;
		line-height: 44px;
		font-family: 'YandexSansTextRegular-900';
		font-size: 40px;
		text-align: center;
		padding: 50px 64px;
		box-sizing: border-box;
		border-radius: 56px;
		background: #21201f;
		margin-bottom: 48px;
		text-wrap: balance;
		@media (max-width: 721px) {
			padding: 24px;
			border-radius: 32px;
			font-size: 28px !important;
			line-height: 30.8px !important;
		}
	}
	.section4_tarifCardsContainer {
		display: grid;
		grid-template-columns: 520px 450px;
		grid-gap: 35px;
		@media (max-width: 1055px) {
			display: flex;
			flex-direction: column-reverse;
			grid-gap: 0;
		}
		.section4_tarifCardTitle {
			font-family: 'YandexSansTextRegular-900';
			font-size: 36px;
			line-height: 38.52px;
			color: #21201F;
			@media (max-width: 1081px) {
				font-size: 32px;
			}
			@media (max-width: 424px) {
				font-size: 28px;
			}
		}
		.section4_tarifCardDesc {
			font-family: 'YandexSansTextRegular-600';
			font-size: 22px;
			line-height: 26.4px;
			color: #21201F;
			margin-top: 32px;
			text-wrap: balance;
			@media (max-width: 424px) {
				margin-top: 16px;
				font-size: 18px;
			}
		}
		.section4_tarifCard-solid {
			text-align: left;
			border-radius: 56px;
			border: 5px solid #21201f;
			padding: 72px 56px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 35px;
			img {
				width: 60px;
				height: 60px;
				margin-bottom: 32px;
				@media (max-width: 424px) {
					max-width: 50px;
					max-height: 50px;
					margin-bottom: 16px;
				}
			}
			@media (max-width: 1055px) {
				max-width: 100%;
				max-height: 100%;
				padding: 35px;
			}
			@media (max-width: 424px) {
				border-radius: 32px;
			}
		}
		.section_tarifCard_img {
			width: 100%;
			height: 100%;
		}
		.section4_tarifCard-dashed {
			text-align: left;
			border-radius: 56px;
			border: 5px dashed #21201f;
			padding: 72px 56px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 35px;
			@media (max-width: 1055px) {
				max-width: 100%;
				max-height: 100%;
				padding: 35px;
			}
			@media (max-width: 424px) {
				border-radius: 32px;
			}
		}
		.section4_tarifCard-img {
			border-radius: 56px;
			border: 5px solid #21201f;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
			@media (max-width: 1055px) {
				display: none;
			}
		}
		.section4_tarifCard-black {
			background-color: #21201f;
			border-radius: 56px;
			padding: 79px 59px;
			width: 680px;
			@media (max-width: 1055px) {
				padding: 35px;
				width: 100%;
				height: 100%;
				margin-bottom: 35px;
			}
			@media (max-width: 424px) {
				border-radius: 32px;
			}
			h1 {
				font-family: 'YandexSansTextRegular-900';
				font-size: 36px;
				line-height: 38.52px;
				color: #ffffff;
				@media (max-width: 1081px) {
					font-size: 32px;
				}
				@media (max-width: 424px) {
					font-size: 28px;
				}
			}
			p {
				font-family: 'YandexSansTextRegular-600';
				font-size: 22px;
				line-height: 26.4px;
				color: #ffffff;
				margin-top: 32px;
				@media (max-width: 424px) {
					font-size: 18px;
					margin-top: 16px;
				}
			}
		}
		.section4_tarifCardsContainer_right {
			display: flex;
			flex-direction: column;
			margin-top: 100px;
			@media (max-width: 1055px) {
				margin: 0;
			}
		}
		.section4_tarifCardsContainer_left {
			display: flex;
			flex-direction: column;
			@media (max-width: 1055px) {
				div:nth-child(1) {
					order: 2;
					margin: 0;
					margin-bottom: 35px;
				}
				div:nth-child(2) {
					order: 2;
					margin: 0;
					margin-bottom: 35px;
				}
				div:nth-child(3) {
					order: 3;
					margin: 0;
					margin-bottom: 35px;
				}
			}
		}
	}
}
.section5 {
	margin-top: 128px;
	padding: 128px 0 128px;
    border-radius: 56px 56px 0 0;
    background-image: url('https://avatars.mds.yandex.net/get-lpc/1220100/c037c01e-64d2-48df-811b-d149f760df61/orig'),
	url('https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig');
    background-repeat: no-repeat;
    background-size: 513px auto, 100%;
    background-position: top 84px left calc(50% + 385px), center bottom;
    position: relative;
	@media (max-width: 750px) {
		margin-top: 0;
		background: none;
		padding-bottom: 0;
		.container{
			background: url('https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig');
			background-size: cover;
			background-position: bottom center;
			background-repeat: no-repeat;
			padding: 100px 30px;
			border-radius: 36px;
			margin: 0 20px;
		}
	}
	@media (max-width: 376px) {
		padding: 50px 0 0px;
		.container {
			padding: 70px 20px;
		}
	}
	.section5_informContainer {
		.section5_informContainer_title {
			font-family: 'YandexSansTextRegular-900';
			font-size: 84px;
			line-height: 88px;
			max-width: 580px;
			margin: 0;
			color: #21201F;
			@media (max-width: 750px) {
				font-size: 36px;
				line-height: normal;
				width: 100%;
			}
		}
		.section5_informContainer_desc {
			font-family: 'YandexSansTextRegular-600';
			font-size: 32px;
			line-height: 41.6px;
			padding-top: 32px;
			max-width: 700px;
			color: #21201F;
			@media (max-width: 750px) {
				font-size: 22px;
				line-height: normal;
				padding-top: 22px;
				width: 100%;
			}
		}
	}
	.section5_freeStart {
		margin-top: 64px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
		@media (max-width: 750px) {
			margin-top: 35px;
			grid-template-columns: 1fr;
		}
		.section5_freeStartCard {
			&:first-child {
				margin-right: 30px;
				@media (max-width: 750px) {
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
			h2 {
				font-family: 'YandexSansTextRegular-900';
				font-size: 32px;
				line-height: 32px;
				color: #21201F;
				@media (max-width: 750px) {
					font-size: 28px;
					line-height: normal;
				}
			}
			p {
				font-family: 'YandexSansTextRegular-600';
				font-size: 22px;
				line-height: 28.6px;
				color: #21201F;
				margin-top: 8px;
				@media (max-width: 750px) {
					font-size: 18px;
					line-height: normal;
				}
			}
		}
	}
}
.section6 {
	width: 100%;
	background: #FFDE40;
	padding: 0 0 60px;
	margin-top: 160px;
	@media (max-width: 750px) {
		padding: 0 20px;
	}
	.container {
		@media (max-width: 1201px) {
			max-width: 100%;
			padding: 0;
		}
	}
	.section6_videoContainer {
		max-width: 1000px;
		margin-right: -206px;
		@media (max-width: 1201px) {
			margin: 0 auto;
			margin-bottom: -90px;
		}
		@media (max-width: 750px) {
			margin-bottom: 100px;
			max-width: 100%;
			margin-top: -50px;
		}
		margin-bottom: -90px;
		margin-left: auto;
		.section6_videoContainer_video {
			max-width: 734px;
			margin: 0 auto;
			@media (max-width: 750px) {
				max-width: clamp(17.5rem, -3.616rem + 105.58vw, 45.875rem);
			}
			video {
				border-radius: 32px;
   				overflow: hidden;
				max-width: 734px;
				margin: 0 auto;
				@media (max-width: 750px) {
					max-width: clamp(17.5rem, -3.616rem + 105.58vw, 45.875rem);
				}
			}
		}
	}
	.section6_rideCarefully {
		padding: 150px 85px 230px;
		margin: 0 auto 0 -80px;
		background: #FFFFFF;
		border-radius: 56px;
		@media (max-width: 1201px) {
			margin: 0;
			border-radius: 56px;
		}
		@media (max-width: 750px) {
			padding: 30px 20px 230px;
			border-radius: 36px;
		}
		.section6_rideCarefully_title {
			h1 {
				font-family: 'YandexSansTextRegular-900';
				line-height: 70.4px;
				font-size: 64px;
				color: #21201F;
				@media (max-width: 750px) {
					line-height: normal;
					font-size: 36px;
				}
			}
			p {
				margin: 16px 0 71px;
				width: 460px;
				font-family: 'YandexSansTextRegular-600';
				font-size: 22px;
				line-height: 26px;
				color: #21201F;
				@media (max-width: 750px) {
					line-height: normal;
					font-size: 18px;
					text-wrap: balance;
					width: auto;
				}
				a {
					text-decoration: underline;
					color: #21201F !important;
					@media (max-width: 750px) {
						line-height: normal;
						font-size: 18px;
					}
				}
			}
		}
		.section6_rideCarefully_carefullCards {
			display: grid;
			grid-template-columns: 350px 350px;
			grid-gap: 100px;
			@media (max-width: 1201px) {
				text-wrap: balance;
				grid-gap: 40px;
				justify-content: center;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
			}
			@media (max-width: 750px) {
				grid-gap: 0;
				display: flex;
				flex-direction: column;
			}
			.section6_rideCarefully_carefullCards_card {
				@media (max-width: 750px) {
					margin-bottom: 50px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				img {
					margin-bottom: 24px;
					@media (max-width: 750px) {
						width: 60px;
						margin-bottom: 16px;
					}
				}
				h2 {
					font-size: 36px;
					font-family: 'YandexSansTextRegular-900';
					line-height: 39.6px;
					@media (max-width: 750px) {
						font-size: 28px;
						line-height: normal;
					}
				}
				p {
					margin-top: 8px;
					font-size: 22px;
					font-family: 'YandexSansTextRegular-600';
					line-height: 28px;
					@media (max-width: 750px) {
						font-size: 18px;
						line-height: normal;
					}
				}
			}
		}
	}
	.section6_rideCarefully_lifeInsurance {
		position: relative;
		background-color: #BFFFCD;
		box-sizing: border-box;
		display: block;
		width: 652px;
		padding: 85px 94px;
		border-radius: 56px;
		margin-top: -115px;
		margin-right: calc((100% - 1106px)/2);
		margin-left: auto;
		margin-bottom: 128px;
		&::after {
			content: "";
			width: 112px;
			height: 112px;
			display: block;
			position: absolute;
			top: -53px;
			left: 94px;
			background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/e5defd8c-21da-4597-beb9-838f435304a6/orig);
			background-repeat: no-repeat;
			background-size: 100% auto;
			@media (max-width: 692px) {
				width: 85px;
				top: -40px;
			}
			@media (max-width: 376px) {
				top: -50px;
				left: 0;
			}
		}
		p {
			font-size: 32px;
			line-height: 42px;
			font-family: 'YandexSansTextRegular-600';
			width: 400px;
			@media (max-width: 692px) {
				font-size: 22px;
				line-height: normal;
				width: 100%;
			}
		}
		@media (max-width: 1081px) {
			margin-right: 50px;
		}
		@media (max-width: 692px) {
			margin-right: 0;
			width: 100%;
			padding: 40px;
			border-radius: 36px;
		}
		@media (max-width: 376px) {
			padding: 30px;
		}
	}
}
.section7 {
	background-color: #ffffff;
    border-radius: 56px 56px 0 0;
    padding-top: 128px;
	@media (max-width: 750px) {
		padding-top: 70px;
		border-radius: 36px 36px 0 0;
	}
	@media (max-width: 376px) {
		padding-top: 40px;
	}
	.section7Container {
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 548px;
			height: 183px;
			border-radius: 56px 56px 0 0;
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #21201F;
			z-index: 1;
			@media (max-width: 930px) {
				display: none;
			}
		}
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 108px;
			border-radius: 56px 56px 0 0;
			position: absolute;
			bottom: 0;
			left: -40px;
			background-color: #FFDE40;
			z-index: 2;
			@media (max-width: 930px) {
				display: none;
			}
		}
	}
	.section7_whereScooters {
		margin-bottom: 30px;
		@media (max-width: 930px) {
			margin-bottom: 0;
			padding-bottom: 70px;
		}
		@media (max-width: 376px) {
			padding-bottom: 40px;
		}
		.section7_whereScooters_info {
			text-align: left;
			padding-right: 17px;
			padding-left: 17px;
			margin-bottom: 72px;
			h1 {
				font-family: 'YandexSansTextRegular-900';
				line-height: 70px;
				font-size: 64px;
				color: #21201f;
				@media (max-width: 750px) {
					font-size: 36px;
					line-height: normal;
				}
			}
			p {
				font-family: 'YandexSansTextRegular-600';
				line-height: 42px;
				font-size: 32px;
				margin-top: 32px;
				@media (max-width: 750px) {
					font-size: 22px;
					line-height: normal;
				}
				@media (max-width: 376px) {
					margin-top: 20px;
				}
			}
			@media (max-width: 376px) {
				margin-bottom: 45px;
			}
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	.section7_download {
		padding-top: 100px;
		display: flex;
		align-items: start;
		justify-content: space-between;
		@media (max-width: 930px) {
			display: none;
		}
		.section7_download_inf {
			h1 {
				font-family: 'YandexSansTextRegular-900';
				line-height: 70px;
				font-size: 64px;
				color: #21201f;
				@media (max-width: 750px) {
					font-size: 36px;
					line-height: normal;
				}
			}
			p {
				font-family: 'YandexSansTextRegular-600';
				line-height: 42px;
				font-size: 32px;
				margin: 32px 0 48px;
				@media (max-width: 750px) {
					font-size: 22px;
					line-height: normal;
				}
			}
		}
		.section7_download_telephone {
			position: relative;
			z-index: 10;
			margin-right: 80px;
			img {
				max-width: 362px;
			}
			
		}
	}
}
.footer {
	width: 100%;
	background: #FAFAFA;
	padding: 56px 0;
	.footerContainer {
		max-width: 920px;
		margin: 0 auto;
		display: flex;
		align-items: start;
		justify-content: space-between;
		@media (max-width: 930px) {
			flex-direction: column;
			padding: 0 30px;
		}
		p {
			font-size: 13px;
			font-family: 'YandexSansTextRegular-600';
			line-height: 16px;
			color: #21201f;
		}
		.footerLicense {
			max-width: 600px;
			a {
				color: #21201f !important;
				font-size: 13px;
				font-family: 'YandexSansTextRegular-600';
				line-height: 16px;
			}
			span {
				a {
					color: #21201f;
					font-size: 13px;
					font-family: 'YandexSansTextRegular-600';
					line-height: 16px;
					text-decoration: underline;
				}
			}
		}
	}
}



/* Слайдер */
.slick-slider{
	position: relative;
}
/* Ограничивающая оболочка */
.slick-list {
	max-width: 734px;
	margin: 0 auto;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
.slick-arrow {
	@media (max-width: 930px) {
		display: none;
	}
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	position: absolute;
	font-size: 0;
	background: url("https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig");
	width: 64px;
    height: 64px;
	background-size: 100% auto;
    background-repeat: no-repeat;
	z-index: 100;
    top: 50%;
	left: 0;
	margin-top: -30px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	position: absolute;
	font-size: 0;
	background: url("https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig");
	width: 64px;
    height: 64px;
	transform: rotate(-180deg);
	background-size: 100% auto;
    background-repeat: no-repeat;
	z-index: 10;
    top: 50%;
	right: 0;
	margin-top: -30px;
}
/* Точки (булиты) */
.slick-dots{
	position: absolute;
	display: flex;
	align-items: center;
	margin-top: 15px;
	left: 50%;
    line-height: normal;
    transform: translate(-50%);
}
.slick-dots li{
	opacity: 0.6;
}
/* Активная точка */
.slick-dots li.slick-active{
	opacity: 1;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	margin: 0 4px;
    width: 8px;
    height: 8px;
	background-color: #21201F;
	border-radius: 50%;
}
