@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-light.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/display-light.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/display-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff") format("woff"), url("https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YS Display";
  src: url("https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "YandexSansTextRegular-900";
  src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "YandexSansTextRegular-600";
  src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff") format("woff");
  font-weight: 600;
}
.title {
  font-family: "YandexSansTextRegular-900";
  font-size: 64px;
  color: #21201F;
  line-height: 70px;
}

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #FFDE40;
  padding-top: 77px;
}
@media (max-width: 641px) {
  .main {
    padding-top: 35px;
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  background: #FFDE40;
  position: fixed;
  z-index: 1000;
}
@media (max-width: 1055px) {
  .header {
    position: unset;
  }
}
.header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1140px;
  padding: 15px 17px;
  margin: 0 auto;
}
.header .headerContainer .headerLogo {
  width: 158px;
}
@media (max-width: 571px) {
  .header .headerContainer .headerLogo {
    width: 120px;
  }
}
@media (max-width: 350px) {
  .header .headerContainer .headerLogo {
    width: 90px;
  }
}
.header .headerContainer .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .headerContainer .headerMenu li {
  margin-right: 15px;
}
.header .headerContainer .headerMenu li:last-child {
  margin-right: 0;
}
.header .headerContainer .headerMenu li a {
  color: #21201f !important;
  font-family: "YandexSansTextRegular-600";
  font-size: 16px;
  line-height: 30px;
}
.header .headerContainer .headerBtnDownload {
  padding: 0 50px 2px 50px;
  background: #21201F;
  line-height: 45px;
  font-family: "YandexSansTextRegular-600";
  color: #ffffff !important;
  font-size: 20px;
  border-radius: 18px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.header .headerContainer .headerBtnDownload:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #000000;
}
@media (max-width: 571px) {
  .header .headerContainer .headerBtnDownload {
    font-size: 14px;
    padding: 8px 30px;
    line-height: normal;
  }
}
@media (max-width: 1055px) {
  .header .headerContainer .headerMenu {
    display: none;
  }
}

.section1 {
  padding: 180px 17px 32px;
}
@media (max-width: 1050px) {
  .section1 {
    padding: 0 0 32px;
  }
}
.section1 .section1_title {
  width: 100%;
  height: 286px;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1527204/17f17107-06f4-4695-b5b3-340eb70251dc/orig");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  position: relative;
  font-size: 0;
}
@media (max-width: 930px) {
  .section1 .section1_title {
    margin-bottom: 100px;
    background-size: clamp(18.438rem, 5.815rem + 63.11vw, 42.5rem);
  }
}
@media (max-width: 641px) {
  .section1 .section1_title {
    margin-bottom: 100px;
  }
}
.section1 .section1_title::after {
  content: "";
  width: 466px;
  height: 568px;
  display: block;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1220100/e61505da-47e3-4423-9e19-8473aeda1c6c/orig");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  top: -74px;
  right: 0;
}
@media (max-width: 930px) {
  .section1 .section1_title::after {
    top: 0;
    width: 400px;
  }
}
@media (max-width: 641px) {
  .section1 .section1_title::after {
    top: 7rem;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 300px;
  }
}
@media (max-width: 571px) {
  .section1 .section1_title::after {
    width: 250px;
  }
}
@media (max-width: 499px) {
  .section1 .section1_title::after {
    width: 200px;
  }
}
.section1 .section1_desc p {
  padding-top: 119px;
  max-width: 530px;
  margin: 0;
  font-family: "YandexSansTextRegular-900";
  font-size: 36px;
  line-height: 39.6px;
  text-align: left;
  color: #21201F;
  margin-bottom: 32px;
  text-wrap: balance;
}
@media (max-width: 571px) {
  .section1 .section1_desc p {
    width: 100%;
    font-size: 28px;
    line-height: normal;
    padding-top: 20px;
  }
}
.section1 .section1_desc a {
  font-family: "YandexSansTextRegular-600";
  font-size: 24px;
  line-height: 80px;
  background: #21201F;
  color: #ffffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 380px;
  border-radius: 25px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.section1 .section1_desc a:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #000000;
}
@media (max-width: 571px) {
  .section1 .section1_desc a {
    font-size: 18px;
    line-height: normal;
    padding: 15px 0;
  }
}

.section2 {
  padding: 70px 0;
}
.section2 .section2_title {
  margin-bottom: 48px;
  position: relative;
  max-width: 797px;
}
@media (max-width: 641px) {
  .section2 .section2_title {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 28px;
  }
}
.section2 .section2_title::before {
  content: "";
  width: 115px;
  height: 76px;
  display: block;
  background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/77659caa-4ace-4811-b51d-8a4c84ecec6d/orig);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;
  position: absolute;
  right: 0;
  top: -51px;
}
@media (max-width: 641px) {
  .section2 .section2_title::before {
    width: 69px;
    height: 71px;
  }
}
.section2 .section2_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 721px) {
  .section2 .section2_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (max-width: 375px) {
  .section2 .section2_menu {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.section2 .section2_menu li {
  margin-right: 10px;
}
@media (max-width: 721px) {
  .section2 .section2_menu li {
    margin-right: 0;
  }
}
.section2 .section2_menu li:last-child {
  margin-right: 0;
}
.section2 .section2_menu li a {
  color: #21201F !important;
  background: transparent;
  border: 2px dashed #21201F;
  border-radius: 16px;
  line-height: 42px;
  display: block;
  padding: 0 32px;
  font-family: "YandexSansTextRegular-600";
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
  -webkit-transition: 100ms;
  transition: 100ms;
}
.section2 .section2_menu li a:hover {
  -webkit-transition: 100ms;
  transition: 100ms;
  border: 2px dashed #000000;
  color: #000000;
}
@media (max-width: 641px) {
  .section2 .section2_menu li a {
    line-height: normal;
    font-size: 16px;
    padding: 5px 22px;
  }
}

.section3 {
  margin-top: 100px;
  margin-bottom: 90px;
}
@media (max-width: 721px) {
  .section3 {
    margin-top: 20px;
  }
}
.section3 .section3_title {
  margin-bottom: 100px;
}
@media (max-width: 721px) {
  .section3 .section3_title {
    font-size: 34px;
    line-height: normal;
    margin-bottom: 40px;
  }
}
.section3 .section3_infContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 721px) {
  .section3 .section3_infContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .section3_infContainer div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-top: 30px;
  }
}
.section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step {
  padding-bottom: 96px;
  max-width: 430px;
}
.section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step p {
  color: #21201F;
  font-family: "YandexSansTextRegular-900";
  line-height: 39px;
  font-size: 36px;
  margin-top: 40px;
}
@media (max-width: 721px) {
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step p {
    line-height: none;
    font-size: 28px;
    text-align: left;
    margin-top: 20px;
  }
}
@media (max-width: 721px) {
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step {
    padding-bottom: 50px;
  }
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step img {
    width: 280px;
  }
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step .oneImg {
    width: auto;
    height: 86.63px;
  }
}
.section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child {
  position: relative;
}
@media (max-width: 424px) {
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child p {
    width: 230px;
  }
}
.section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child::after {
  content: "";
  display: block;
  width: 345px;
  height: 357px;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1364677/218f6fb2-1e57-4039-8eac-f0122a8e929f/orig");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  position: absolute;
  left: 389px;
  top: 56px;
}
@media (max-width: 721px) {
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child::after {
    display: none;
  }
}
.section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child::before {
  content: "";
  display: none;
  width: 218px;
  height: 319px;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1520633/b7be239e-d2be-43be-b481-59368d488d32/orig");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  position: absolute;
  left: 53px;
  top: 116px;
}
@media (max-width: 424px) {
  .section3 .section3_infContainer .section3_stepsInf .section3_stepsInf_step:last-child::before {
    display: block;
  }
}
.section3 .section3_infContainer .section3_videoPhone {
  width: 362px;
}
@media (max-width: 426px) {
  .section3 .section3_infContainer .section3_videoPhone {
    width: 100%;
  }
}

@media (max-width: 424px) {
  .section4 {
    margin-top: 180px;
  }
}
.section4 .section4_title {
  color: #ffffff;
  line-height: 44px;
  font-family: "YandexSansTextRegular-900";
  font-size: 40px;
  text-align: center;
  padding: 50px 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 56px;
  background: #21201f;
  margin-bottom: 48px;
  text-wrap: balance;
}
@media (max-width: 721px) {
  .section4 .section4_title {
    padding: 24px;
    border-radius: 32px;
    font-size: 28px !important;
    line-height: 30.8px !important;
  }
}
.section4 .section4_tarifCardsContainer {
  display: grid;
  grid-template-columns: 520px 450px;
  grid-gap: 35px;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    grid-gap: 0;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCardTitle {
  font-family: "YandexSansTextRegular-900";
  font-size: 36px;
  line-height: 38.52px;
  color: #21201F;
}
@media (max-width: 1081px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCardTitle {
    font-size: 32px;
  }
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCardTitle {
    font-size: 28px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCardDesc {
  font-family: "YandexSansTextRegular-600";
  font-size: 22px;
  line-height: 26.4px;
  color: #21201F;
  margin-top: 32px;
  text-wrap: balance;
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCardDesc {
    margin-top: 16px;
    font-size: 18px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-solid {
  text-align: left;
  border-radius: 56px;
  border: 5px solid #21201f;
  padding: 72px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-solid img {
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-solid img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 16px;
  }
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-solid {
    max-width: 100%;
    max-height: 100%;
    padding: 35px;
  }
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-solid {
    border-radius: 32px;
  }
}
.section4 .section4_tarifCardsContainer .section_tarifCard_img {
  width: 100%;
  height: 100%;
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-dashed {
  text-align: left;
  border-radius: 56px;
  border: 5px dashed #21201f;
  padding: 72px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-dashed {
    max-width: 100%;
    max-height: 100%;
    padding: 35px;
  }
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-dashed {
    border-radius: 32px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-img {
  border-radius: 56px;
  border: 5px solid #21201f;
  overflow: hidden;
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-img {
    display: none;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-black {
  background-color: #21201f;
  border-radius: 56px;
  padding: 79px 59px;
  width: 680px;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-black {
    padding: 35px;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
  }
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-black {
    border-radius: 32px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-black h1 {
  font-family: "YandexSansTextRegular-900";
  font-size: 36px;
  line-height: 38.52px;
  color: #ffffff;
}
@media (max-width: 1081px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-black h1 {
    font-size: 32px;
  }
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-black h1 {
    font-size: 28px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCard-black p {
  font-family: "YandexSansTextRegular-600";
  font-size: 22px;
  line-height: 26.4px;
  color: #ffffff;
  margin-top: 32px;
}
@media (max-width: 424px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCard-black p {
    font-size: 18px;
    margin-top: 16px;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_right {
    margin: 0;
  }
}
.section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1055px) {
  .section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_left div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-bottom: 35px;
  }
  .section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_left div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-bottom: 35px;
  }
  .section4 .section4_tarifCardsContainer .section4_tarifCardsContainer_left div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
    margin-bottom: 35px;
  }
}

.section5 {
  margin-top: 128px;
  padding: 128px 0 128px;
  border-radius: 56px 56px 0 0;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1220100/c037c01e-64d2-48df-811b-d149f760df61/orig"), url("https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig");
  background-repeat: no-repeat;
  background-size: 513px auto, 100%;
  background-position: top 84px left calc(50% + 385px), center bottom;
  position: relative;
}
@media (max-width: 750px) {
  .section5 {
    margin-top: 0;
    background: none;
    padding-bottom: 0;
  }
  .section5 .container {
    background: url("https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 100px 30px;
    border-radius: 36px;
    margin: 0 20px;
  }
}
@media (max-width: 376px) {
  .section5 {
    padding: 50px 0 0px;
  }
  .section5 .container {
    padding: 70px 20px;
  }
}
.section5 .section5_informContainer .section5_informContainer_title {
  font-family: "YandexSansTextRegular-900";
  font-size: 84px;
  line-height: 88px;
  max-width: 580px;
  margin: 0;
  color: #21201F;
}
@media (max-width: 750px) {
  .section5 .section5_informContainer .section5_informContainer_title {
    font-size: 36px;
    line-height: normal;
    width: 100%;
  }
}
.section5 .section5_informContainer .section5_informContainer_desc {
  font-family: "YandexSansTextRegular-600";
  font-size: 32px;
  line-height: 41.6px;
  padding-top: 32px;
  max-width: 700px;
  color: #21201F;
}
@media (max-width: 750px) {
  .section5 .section5_informContainer .section5_informContainer_desc {
    font-size: 22px;
    line-height: normal;
    padding-top: 22px;
    width: 100%;
  }
}
.section5 .section5_freeStart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 750px) {
  .section5 .section5_freeStart {
    margin-top: 35px;
    grid-template-columns: 1fr;
  }
}
.section5 .section5_freeStart .section5_freeStartCard:first-child {
  margin-right: 30px;
}
@media (max-width: 750px) {
  .section5 .section5_freeStart .section5_freeStartCard:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.section5 .section5_freeStart .section5_freeStartCard h2 {
  font-family: "YandexSansTextRegular-900";
  font-size: 32px;
  line-height: 32px;
  color: #21201F;
}
@media (max-width: 750px) {
  .section5 .section5_freeStart .section5_freeStartCard h2 {
    font-size: 28px;
    line-height: normal;
  }
}
.section5 .section5_freeStart .section5_freeStartCard p {
  font-family: "YandexSansTextRegular-600";
  font-size: 22px;
  line-height: 28.6px;
  color: #21201F;
  margin-top: 8px;
}
@media (max-width: 750px) {
  .section5 .section5_freeStart .section5_freeStartCard p {
    font-size: 18px;
    line-height: normal;
  }
}

.section6 {
  width: 100%;
  background: #FFDE40;
  padding: 0 0 60px;
  margin-top: 160px;
}
@media (max-width: 750px) {
  .section6 {
    padding: 0 20px;
  }
}
@media (max-width: 1201px) {
  .section6 .container {
    max-width: 100%;
    padding: 0;
  }
}
.section6 .section6_videoContainer {
  max-width: 1000px;
  margin-right: -206px;
  margin-bottom: -90px;
  margin-left: auto;
}
@media (max-width: 1201px) {
  .section6 .section6_videoContainer {
    margin: 0 auto;
    margin-bottom: -90px;
  }
}
@media (max-width: 750px) {
  .section6 .section6_videoContainer {
    margin-bottom: 100px;
    max-width: 100%;
    margin-top: -50px;
  }
}
.section6 .section6_videoContainer .section6_videoContainer_video {
  max-width: 734px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .section6 .section6_videoContainer .section6_videoContainer_video {
    max-width: clamp(17.5rem, -3.616rem + 105.58vw, 45.875rem);
  }
}
.section6 .section6_videoContainer .section6_videoContainer_video video {
  border-radius: 32px;
  overflow: hidden;
  max-width: 734px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .section6 .section6_videoContainer .section6_videoContainer_video video {
    max-width: clamp(17.5rem, -3.616rem + 105.58vw, 45.875rem);
  }
}
.section6 .section6_rideCarefully {
  padding: 150px 85px 230px;
  margin: 0 auto 0 -80px;
  background: #FFFFFF;
  border-radius: 56px;
}
@media (max-width: 1201px) {
  .section6 .section6_rideCarefully {
    margin: 0;
    border-radius: 56px;
  }
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully {
    padding: 30px 20px 230px;
    border-radius: 36px;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_title h1 {
  font-family: "YandexSansTextRegular-900";
  line-height: 70.4px;
  font-size: 64px;
  color: #21201F;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_title h1 {
    line-height: normal;
    font-size: 36px;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_title p {
  margin: 16px 0 71px;
  width: 460px;
  font-family: "YandexSansTextRegular-600";
  font-size: 22px;
  line-height: 26px;
  color: #21201F;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_title p {
    line-height: normal;
    font-size: 18px;
    text-wrap: balance;
    width: auto;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_title p a {
  text-decoration: underline;
  color: #21201F !important;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_title p a {
    line-height: normal;
    font-size: 18px;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_carefullCards {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 100px;
}
@media (max-width: 1201px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards {
    text-wrap: balance;
    grid-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards {
    grid-gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card {
    margin-bottom: 50px;
  }
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card:last-child {
    margin-bottom: 0;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card img {
  margin-bottom: 24px;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card img {
    width: 60px;
    margin-bottom: 16px;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card h2 {
  font-size: 36px;
  font-family: "YandexSansTextRegular-900";
  line-height: 39.6px;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card h2 {
    font-size: 28px;
    line-height: normal;
  }
}
.section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card p {
  margin-top: 8px;
  font-size: 22px;
  font-family: "YandexSansTextRegular-600";
  line-height: 28px;
}
@media (max-width: 750px) {
  .section6 .section6_rideCarefully .section6_rideCarefully_carefullCards .section6_rideCarefully_carefullCards_card p {
    font-size: 18px;
    line-height: normal;
  }
}
.section6 .section6_rideCarefully_lifeInsurance {
  position: relative;
  background-color: #BFFFCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 652px;
  padding: 85px 94px;
  border-radius: 56px;
  margin-top: -115px;
  margin-right: calc((100% - 1106px) / 2);
  margin-left: auto;
  margin-bottom: 128px;
}
.section6 .section6_rideCarefully_lifeInsurance::after {
  content: "";
  width: 112px;
  height: 112px;
  display: block;
  position: absolute;
  top: -53px;
  left: 94px;
  background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/e5defd8c-21da-4597-beb9-838f435304a6/orig);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (max-width: 692px) {
  .section6 .section6_rideCarefully_lifeInsurance::after {
    width: 85px;
    top: -40px;
  }
}
@media (max-width: 376px) {
  .section6 .section6_rideCarefully_lifeInsurance::after {
    top: -50px;
    left: 0;
  }
}
.section6 .section6_rideCarefully_lifeInsurance p {
  font-size: 32px;
  line-height: 42px;
  font-family: "YandexSansTextRegular-600";
  width: 400px;
}
@media (max-width: 692px) {
  .section6 .section6_rideCarefully_lifeInsurance p {
    font-size: 22px;
    line-height: normal;
    width: 100%;
  }
}
@media (max-width: 1081px) {
  .section6 .section6_rideCarefully_lifeInsurance {
    margin-right: 50px;
  }
}
@media (max-width: 692px) {
  .section6 .section6_rideCarefully_lifeInsurance {
    margin-right: 0;
    width: 100%;
    padding: 40px;
    border-radius: 36px;
  }
}
@media (max-width: 376px) {
  .section6 .section6_rideCarefully_lifeInsurance {
    padding: 30px;
  }
}

.section7 {
  background-color: #ffffff;
  border-radius: 56px 56px 0 0;
  padding-top: 128px;
}
@media (max-width: 750px) {
  .section7 {
    padding-top: 70px;
    border-radius: 36px 36px 0 0;
  }
}
@media (max-width: 376px) {
  .section7 {
    padding-top: 40px;
  }
}
.section7 .section7Container {
  position: relative;
}
.section7 .section7Container::before {
  content: "";
  display: block;
  width: 548px;
  height: 183px;
  border-radius: 56px 56px 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #21201F;
  z-index: 1;
}
@media (max-width: 930px) {
  .section7 .section7Container::before {
    display: none;
  }
}
.section7 .section7Container::after {
  content: "";
  display: block;
  width: 100%;
  height: 108px;
  border-radius: 56px 56px 0 0;
  position: absolute;
  bottom: 0;
  left: -40px;
  background-color: #FFDE40;
  z-index: 2;
}
@media (max-width: 930px) {
  .section7 .section7Container::after {
    display: none;
  }
}
.section7 .section7_whereScooters {
  margin-bottom: 30px;
}
@media (max-width: 930px) {
  .section7 .section7_whereScooters {
    margin-bottom: 0;
    padding-bottom: 70px;
  }
}
@media (max-width: 376px) {
  .section7 .section7_whereScooters {
    padding-bottom: 40px;
  }
}
.section7 .section7_whereScooters .section7_whereScooters_info {
  text-align: left;
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 72px;
}
.section7 .section7_whereScooters .section7_whereScooters_info h1 {
  font-family: "YandexSansTextRegular-900";
  line-height: 70px;
  font-size: 64px;
  color: #21201f;
}
@media (max-width: 750px) {
  .section7 .section7_whereScooters .section7_whereScooters_info h1 {
    font-size: 36px;
    line-height: normal;
  }
}
.section7 .section7_whereScooters .section7_whereScooters_info p {
  font-family: "YandexSansTextRegular-600";
  line-height: 42px;
  font-size: 32px;
  margin-top: 32px;
}
@media (max-width: 750px) {
  .section7 .section7_whereScooters .section7_whereScooters_info p {
    font-size: 22px;
    line-height: normal;
  }
}
@media (max-width: 376px) {
  .section7 .section7_whereScooters .section7_whereScooters_info p {
    margin-top: 20px;
  }
}
@media (max-width: 376px) {
  .section7 .section7_whereScooters .section7_whereScooters_info {
    margin-bottom: 45px;
  }
}
.section7 .section7_whereScooters img {
  width: 100%;
  height: 100%;
}
.section7 .section7_download {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 930px) {
  .section7 .section7_download {
    display: none;
  }
}
.section7 .section7_download .section7_download_inf h1 {
  font-family: "YandexSansTextRegular-900";
  line-height: 70px;
  font-size: 64px;
  color: #21201f;
}
@media (max-width: 750px) {
  .section7 .section7_download .section7_download_inf h1 {
    font-size: 36px;
    line-height: normal;
  }
}
.section7 .section7_download .section7_download_inf p {
  font-family: "YandexSansTextRegular-600";
  line-height: 42px;
  font-size: 32px;
  margin: 32px 0 48px;
}
@media (max-width: 750px) {
  .section7 .section7_download .section7_download_inf p {
    font-size: 22px;
    line-height: normal;
  }
}
.section7 .section7_download .section7_download_telephone {
  position: relative;
  z-index: 10;
  margin-right: 80px;
}
.section7 .section7_download .section7_download_telephone img {
  max-width: 362px;
}

.footer {
  width: 100%;
  background: #FAFAFA;
  padding: 56px 0;
}
.footer .footerContainer {
  max-width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 930px) {
  .footer .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px;
  }
}
.footer .footerContainer p {
  font-size: 13px;
  font-family: "YandexSansTextRegular-600";
  line-height: 16px;
  color: #21201f;
}
.footer .footerContainer .footerLicense {
  max-width: 600px;
}
.footer .footerContainer .footerLicense a {
  color: #21201f !important;
  font-size: 13px;
  font-family: "YandexSansTextRegular-600";
  line-height: 16px;
}
.footer .footerContainer .footerLicense span a {
  color: #21201f;
  font-size: 13px;
  font-family: "YandexSansTextRegular-600";
  line-height: 16px;
  text-decoration: underline;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  max-width: 734px;
  margin: 0 auto;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 930px) {
  .slick-arrow {
    display: none;
  }
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  position: absolute;
  font-size: 0;
  background: url("https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig");
  width: 64px;
  height: 64px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 100;
  top: 50%;
  left: 0;
  margin-top: -30px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  position: absolute;
  font-size: 0;
  background: url("https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig");
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 10;
  top: 50%;
  right: 0;
  margin-top: -30px;
}

/* Точки (булиты) */
.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  left: 50%;
  line-height: normal;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.slick-dots li {
  opacity: 0.6;
}

/* Активная точка */
.slick-dots li.slick-active {
  opacity: 1;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  background-color: #21201F;
  border-radius: 50%;
}